@import "reset.css";

body {
    background: #ddd;
}

p {
    margin-bottom: 15px;
}

#application {
    background: #fff;
    border: 10px solid #eee;
    margin: 80px;
    padding: 80px;
    border-radius: 20px;
    text-align: center;
    line-height: 1.6;
    font-family: sans-serif;
}
