@import "reset.css";

body {
    background: #ddd;
}

p {
    margin-bottom: 15px;
}

pre {
    white-space: pre;
    font-family: monospace;
    text-align: left;
}

#application {
    background: #fff;
    border: 10px solid #eee;
    margin: 80px;
    padding: 80px;
    border-radius: 20px;
    text-align: center;
    line-height: 1.6;
    font-family: sans-serif;
}


.store-json {
    border: 1px solid #ccc;
    background: #eee;
    padding: 10px 20px;
}
